
h1{font-size: 1.6em;}
h2{font-size: 1.4em;}
h3{font-size: 1.2em;}
p{font-size: 1em;}
h1{text-align: left;}
footer p, header p, body{margin: 0px}

body {background-color: palegreen;width: 960px;margin: 0 auto;}
.hej{background-color: white; width:  960px;height: 65px;margin-bottom: 5px;margin-left: 20px;margin-top: 20px;}
.elem{background-color: white; width:  960px;height: 30px;margin-bottom: 5px;margin-top: 5px;margin-left: 20px;}
.box{background-color: white; width:  960px;height: 800px;margin-bottom: 5px;margin-top: 5px;margin-left: 20px;}
.border{margin: 5px;}

footer {
    margin-top:10px;
    width:100%;
    text-align: center;
    display:inline-block;
}
main article {
    width:300px;
    float:left;
}
main article:nth-child(odd){
    margin-left:10px;
}
aside {
    width:300px;
    float:right;
}
main{
    width:610px;
    float:left;
}
nav li {
    float:left;
    list-style-type: none;
    margin:0px 10px;
}
nav ul{
       display: inline;
}
header h1 {
    padding:20px;
}
header, main, aside, header #logoImg, nav, footer {
    padding:10px;
}
header #logoImg{
   float:left;
}
nav{
   margin: 10px 0px 10px 0px;
}
header, main, aside, footer, nav {
    background: #fff;
}